body {
    background-color: paleturquoise;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 20px;
}

article{
    background-color: greenyellow;
}

.miTexto{
    font-size: 3em;
    color: white;
}

.title{
    font-size: 3em;
    font-style: italic;
    color: blueviolet;
}

#aas{
    font-size: 4em;
}

.ima{
    width: 8em;
    border: 2px solid rgba(0, 255, 21, 0.342);
    padding: 1em 2em 3em 4em;
   
    border-radius: 5%;
    transition: 1s;
}
#achi{
    width: 15em;
}
.imas{
    width: fit-content;
    border: 1px solid rgb(0, 0, 0);
    padding: 0.2em 0.2em 0.2em 0.2em;
    transition: 1s;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: space-evenly;
}

.ima:hover{
    background-color: brown;
}

#titulo{
    border: 2px solid rebeccapurple;
    width: 67vw;
    margin: auto;
    padding: 2em;
}

#contain{
    background-color: rgb(46, 134, 126);
    width: 95%;
    margin: auto;
    margin-top: 1.5em;
    border: 2px solid rgb(192, 109, 0);
    border-radius: 20px;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
